
/* Palette
#0077B6
#00B4D8
#90E0EF
#ADEBF4
#FDFD96
*/
/*Break points for responsiveness across devices 600px, 601px, 768px, 992px, 1200px*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @media screen and (max-width: 600px) {
  body {
    width: 100%
  }
}
@media screen and (max-width: 601px) {
  body {
    width: 100%
  }
@media screen and (max-width: 768px) {
  body {
    width: 100%
  }
}
@media screen and (max-width: 992px) {
  body {
    width: 100%
  }
}
@media screen and (max-width: 1200px) {
  body {
    width: 100%
  }
} */
/* } */
html {
  font-size: 62.5%;
  /* 10px */
}
body { 
  font-family: 'Courier New', Courier, monospace;
  background: white;
  margin: 0;
  box-sizing: border-box;
}
#container {
  margin: 0 auto;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.6rem;
}
h4 {
    font-size: 2.4rem;
}
p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #333;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077B6;
    color: white;
    padding: 3rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-size: cover;
}
#header h1 {
    margin: 0;
}
#nav {
    display: flex;
    gap: 1.5rem;
}
#nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    list-style: none;
}
#nav ul li {
    display: inline;
    font-size: 1.6rem;
}
#nav a:hover {
    text-decoration: underline;
}
#about {
    padding: 2rem 2rem 10rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: #FDFD96;
    background-size: cover;
  }
#about-profile {
  text-align: center;
  min-width: 35rem;
} 
.profile-pic {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #0077B6;
}
.fa {
    font-size: 5rem;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: gray;
}
.fa:hover {
    color: black;
    background-color: #ddd;
}
#about h2 {
    margin-top: 0;
}
#about p {
    line-height: 1.6;
    color: #333;
}
#about img {
  max-width: 30rem;
  width: 100%;
  border-radius: 50%;
  margin-right: 2rem;
  align-items: center;
}
.about-content h2, .about-content p {
    margin-top: 0;
    margin-bottom: 2rem;
}
.about-content a {
    display: inline-block;
    margin-bottom: 4rem;
}
#education-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
    background: #f5f581;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#education-skills h3 {
    margin-top: 0;
    margin-left: 2rem;
}
#education-skills ul{
    padding: 1rem;
}
#education-skills li {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ADEBF4;
}
#projects h2, #projects p, #projects h3 #projects h4 {
    margin-top: 0;
    margin-bottom: 2rem;
}
#projects h2 {
    margin-top: 2rem;
}
#projects a, #about a {
    background-color: #0077B6;
    color: rgba(255, 255, 255, 0.886);
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    list-style: none;
    font-size: 1.8rem;
    font-weight: bold;
  }
#projects a:hover, #about a:hover {
    color: white;
    background-color: #0056b3;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  width: 90%;
}
.project-details {
  background-color: #90E0EF;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background-size: cover;
}
.project-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.project-details h3 {
  margin-top: 0;
}
.project-details img {
  max-width: 30rem;
  width: 100%;
  border-radius: 8px;
  border: 3px solid #0077B6;
}
.project-details p {
  flex: 1;
  line-height: 1.6;
  color: #333;
  margin-bottom: 2rem;
}
#contact {
  padding: 2rem 2rem 10rem 2rem;
  background-color:#ddd;
  background-size: cover;
  
}
.contact-form {
  width: 100%;
  max-width: 50rem;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.contact-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
  font-size: 1.6rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

.form-group textarea {
  resize: vertical; 
}

.contact-form button {
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  justify-content: center;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #0056b3;
}
#footer {
  text-align: center;
  padding: 2rem;
  background-color: #0077B6;
  color: white;
  position: relative;
  bottom: 0;
  background-size: cover;
}
#footer p {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.886);
}
#footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#footer a:hover {
  text-decoration: underline;
}
